@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");

/* Base Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Red Hat Display", sans-serif;
  background: #e0e8ff url("../images/pattern-background-mobile.svg") no-repeat
    left top / cover;
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  display: block;
  color: #717fa6;
  font-size: 15px;
  font-weight: 900;
}

/* Utilities */
.wrapper {
  max-width: 450px;
  width: 90%;
  margin: 10% auto;
  background: #fff;
  border-radius: 20px;
  /* height: 85%; */
  /* max-height: 800px; */
}

.container {
  width: 85%;
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

.btn {
  text-align: center;
  margin: 30px auto;
  width: 100%;
  color: #fff;
  background-color: #382ae1;
  border-radius: 15px;
  padding: 20px 5px;
  box-shadow: 0 20px 20px rgba(56, 42, 225, 0.19);
}

/* Hero */
#hero {
  border-radius: 20px 20px 0 0;
  /* height: 28%; */
  height: 160px;
  background: url("../images/illustration-hero.svg") no-repeat center center /
    cover;
}

/* Main Content */
main {
  padding: 35px 0;
}

h1 {
  font-weight: 900;
  font-size: 22px;
  color: #1f2e55;
}

.description p {
  margin: 20px 0 25px;
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
  color: #717fa6;
}

/* Card */
.card {
  margin: 0 auto;
  background: #f7f9ff;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* gap: 10px; */
  padding: 20px;
}

.card img {
  margin-right: 20px;
}

.selected-plan h3 {
  font-weight: 900;
  color: #1f2e55;
}

.price {
  font-weight: 500;
  color: #717fa6;
}

.selected-plan,
.selected-plan h3 {
  font-size: 14px;
}

.selected-plan {
  flex: 1;
}

.change-plan {
  font-size: 13px;
  font-weight: 700;
  color: #382ae1;
  text-decoration: underline;
}

.attribution {
  font-size: 11px;
  text-align: center;
  display: none;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
